#box {
    max-width: 150px;
    position: relative;
}
 
#box .fa-search {
    position: absolute;
    top: 8px;
   
    font-size: 15px;
    color:gray;
    margin-left: 40px;
}
 
#search {
    width: 300px;
    box-sizing: border-box;
    border: 2px solid gray;
    border-radius: 4px;
    
    margin-left: 30px;
    
}
.hmbgr{
    background-color: white;
    
}
html,
body{
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
 
}
*{
    box-sizing: border-box;
}


.mycontainer{
    width: 90%;
    margin: auto;
    padding: 0;
    padding-bottom: 100px;
    margin-top: 40px;
}

.column-100,
.column-75,
.column-50,
.column-25{
    float: left;
}
.column-100{width: 100%;}
.column-75{width: 75%;}
.column-50{width: 50%;}
.column-25{width:20%;}

.barismanco{
    font-family: 'Linux Libertine','Georgia','Times',serif;
   
    font-size: 1.8em;
    margin: 0;
}
a{
    text-decoration: none;
    color: #3366CC;
}
.yazi{
    font-size: 12px;
}
